<%-include ('../partials/header') %>
<h1 style="text-align: center">Edit <%= Villa.name %></h1>
<!-- to put everthing inside a box -->
<div class="container">
  <div class="row">
    <div style="width: 30%; margin: 30px auto">
      <form action="/villas/<%= Villa._id %>?_method=PUT" method="POST">
        <!-- for spacing in text , image and button, we will add div around each one of them -->
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="Villa[name]"
            value="<%= Villa.name %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            name="Villa[price]"
            value="<%= Villa.price %>"
            min="100"
            step="100"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="Villa[image]"
            value="<%= Villa.image %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            name="Villa[contact]"
            value="<%= Villa.contact %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="Villa[description]"
            value="<%= Villa.description %>"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-default btn-block btn-primary">
            Submit!
          </button>
        </div>
      </form>
      <a href="/villas"><b>Go Back!</b></a>
    </div>
  </div>
</div>

<%-include ('../partials/footer') %>
